@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Coiny&family=Cookie&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 73vh;
    font-family: "Albert Sans", sans-serif;
    background-image: url(img/background1.png);
    background-size: 400px;
    width: 100%;
    overflow-x: hidden;
}


.navBarMobile {
    display: none;
    
}

.home {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   margin: 26vh auto 20px auto;
}

.home img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: black 1px solid;
    margin-right: 130px;
    margin-left: 50px;
}

.principalPC {
    margin-left: 30px;
    line-height: 100px;
}

h1 {
    font-size: 100px;
    font-family: "Coiny", sans-serif;
    color: #000000;
}

.principalPC h1 span {
    color: #5d381c;
}

.principalMobile img {
    display: none;
    border: none;
    height: 100px;
    width: 100px;
}

.principalMobile{
    display: none;
}

.opcoes {
    margin-top: 30vh;
    height: 120vh;
    background-color: #5d381c;
}

h2 {
    font-size: 35px;
    font-family: "Coiny", sans-serif;
}

.opcoes h2 {
    text-align: center;
    padding-top: 20vh;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: center;

}

.card-cookie, .card-torta {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 300px 70px 10px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    margin: 0 60px 20px 60px;
    animation: move 2s infinite ease-in-out;
}

.card-cookie p:nth-of-type(2) span, .card-torta p:nth-of-type(2) span {
    color:#5d381c;
    margin-right: 15px;
    font-weight: bold;
}

.card-cookie p:nth-of-type(1), .card-torta p:nth-of-type(1) {
    font-weight: bold;
}

.infos h2 {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 10vh;;
}

.infos span {
    font-weight: bold;
    color: #5d381c;
}

.descricao, .entregas, .duvidas, .pagamento {
    margin-left: 20px;
}

.descricao p, .entregas p, .pagamento p {
    line-height: 30px;
    margin-left: 25px;
    padding-bottom: 10px;
}
.duvidas p {
    line-height: 20px;
    margin-left: 25px;
    padding-bottom: 2px;
}

 .pagamento svg {
    width: 20px;
    height: 20px;

 }
.infos h3 {
    padding-bottom: 20px;
    padding-top: 40px;
}

address a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

address a:hover {
    color: #5d381c;
}

footer {
    background-color: #5d381c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
}

@media (max-width: 480px) {
    
body {
    height: auto;
    background-size: 200px; 
    }

.navBarMobile {
    display: block; 
    width: 100%;
    }

.navBarMobile img {
    width: 100%;
    display: block;
}


.home {
    flex-direction: column;
    margin: 5vh auto;
    text-align: center;
    }

.home img {
    width: 200px;
    height: 200px;
    margin: 40px auto 20px auto;
}

.principalPC {
    display: none;
}

.principalMobile {
    display: block;
    margin-left: 0;
    line-height: 1.2; 
    }

.principalMobile img {
    display: block;
    border: none;
    height: 100px;
    width: 100px;
    margin-bottom: 140px;
}

.principalMobile h1 {
    font-size: 30px;
}

.principalMobile h1 span {
    color: #5d381c;
}

.principalMobile a {
    animation: move 2s infinite ease-in-out;
    text-decoration: none;
    color: #000000;
    font-size: 35px;
}

.principalMobile p {
    font-size: 30px; 
}

.opcoes {
    height: auto; 
    padding-bottom: 5vh;
}

.cards {
    flex-direction: column; 
    align-items: center;
    padding-top: 5vh;
}

.card-cookie, .card-torta {
    width: 85%;
    margin: 20px 0;
    padding: 250px 20px; 
    line-height: normal;
}

.infos h2 {
    padding-top: 8vh;
    font-size: 28px;
}

.infos h3 {
    text-align: center;
}


.descricao, .entregas, .duvidas, .pagamento {
    margin-left: 15px;
    margin-right: 15px;
}

.container p, .container a {
    width: 80vw;
    font-size: 18px; 
}

svg {
  position: relative;
  top: 4px; 

}

address a {
    margin-left: 20px;
}

}
